@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="chart"> </div>

</div>

@section Scripts{
    <script type="text/javascript">

        var options = {
          series: [
          {
            name: "Açık Siparişler",
            data: [@Html.Raw(Model.SeriesMonthOpenOrder)]
          },
          {
            name: "Kapalı Siparişler",
            data: [@Html.Raw(Model.SeriesMonthCloseOrder)]
          }
        ],
          chart: {
          height: 450,
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
            colors: ['Red', 'green'],
        dataLabels: {
          enabled: true,
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'Average High & Low Temperature',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        xaxis: {
            categories: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmsuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
          title: {
            text: 'Aylık Açık Kapalı Sipariş Durumu'
          }
        },
        yaxis: {
          title: {
            text: 'Sipariş Durumları'
          },
          min: 5
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();


    </script>
}